/* General Reset */
body {
  margin: 0;
  margin-bottom: 100px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  font-size: 40px;
}


h2 {
  font-size: 15px;
}

.container {

}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
}

.date-navigation button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.date-navigation button:hover {
  background-color: #0056b3;
}


table {
  width: 100%; /* Ensures the table spans the full width of its container */
  table-layout: fixed; /* Enables fixed table layout */
}

th, td {
  text-align: center; /* Optional: Centers text within headers and cells */
  border:solid;
  border-width: thin;
  overflow: hidden;
  text-overflow: ellipsis;
  /*
  or

  overflow: auto;

  or

    overflow-wrap: anywhere;
  */
}

tr {
  height:140px;
}

.dateHeader {
  font-size:12px;
}